

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.open-sans-font {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
  "wdth" 100;
}


* {
  /* font-family: "Open Sans", sans-serif; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


header {
  background-color: rgba(255, 144, 14, 0.1);
}


nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto 116px;
  padding: 20px 0;
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
  /* border: 2px solid black; */
  width: 15%;
}


nav ul li {
  cursor: pointer;
}

/* Banner section starts here */

#banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 20px auto;
  padding: 30px;
}

.banner1{
  width: 40%;
  margin: 0 auto;
}


.banner1 h1 {
  color: rgb(19, 19, 19);
  font-size: 64px;
  font-weight: 700;
}

.banner1 p {
  color: rgb(19, 19, 19);
  font-size: 24px;
  font-weight: 400;
  margin: 32px 0;
}

.banner1 button {
  background-color: rgb(255, 144, 14);
  color: white;
  /* font-family: Work Sans; */
  font-size: 20px;
  font-weight: 600;
  padding: 20px 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 32px 0;
}


/* Banner section ends here */



/* Features section starts here  */


#features {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 20px auto;
  padding: 30px;
  width: 80%;
}

.features1 img{
  margin: 20px;
}
.features2 {
  text-align: left;
}


#span1{
  color: rgb(114, 114, 114);
  font-size: 45px;
  font-weight: 500;
}

#span2{
  color: rgb(19, 19, 19);
  font-size: 45px;
  font-weight: 700;
}

#span3{
  color: rgb(255, 144, 14);
  font-size: 45px;
  font-weight: 700;
}



.features2 p{
 color: rgb(114, 114, 114);
 margin: 24px 0 32px;
}

.features2 button{
  background-color: rgb(255, 144, 14);
  color: white;
  /* font-family: Work Sans; */
  font-size: 20px;
  font-weight: 600;
  padding: 20px 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 32px 0;
}







/* Footer section starts here */


